<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.innocent.chuck.core">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:usesCleartextTraffic="${usesCleartextTraffic}"
        android:name=".application.CoreApp" />

</manifest>
